/.idea
/cmake-build-debug
/.metadata/
.project
.settings/language.settings.xml
.settings/org.eclipse.cdt.codan.core.prefs
.settings/org.eclipse.cdt.core.prefs
.settings/org.eclipse.cdt.managedbuilder.core.prefs
.settings/org.eclipse.core.resources.prefs
Debug/includes/md5.o
.cproject
*.o
.autotools
Debug/BookstoreInventoryApplication.exe
/Release/
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.cmake/api/v1/query/cache-v2
*.json
*.cmake
*.idx
*.ninja
*.check_cache
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/CMakeCache.txt
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_CXX.bin
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/CMakeFiles/3.24.2/CompilerIdCXX/a.exe
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/CMakeFiles/3.24.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/CMakeFiles/CMakeOutput.log
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/CMakeFiles/TargetDirectories.txt
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/Testing/Temporary/LastTest.log
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/CMakeCache.txt.prev
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.ninja_deps
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/.ninja_log
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/BookstoreInventoryApplication.exe
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/BookstoreInventoryApplication_autogen/deps
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/BookstoreInventoryApplication_autogen/EWIEGA46WW/moc_mainwindow.cpp
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/BookstoreInventoryApplication_autogen/EWIEGA46WW/moc_mainwindow.cpp.d
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/BookstoreInventoryApplication_autogen/include/ui_mainwindow.h
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/BookstoreInventoryApplication_autogen/moc_predefs.h
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/BookstoreInventoryApplication_autogen/mocs_compilation.cpp
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/BookstoreInventoryApplication_autogen/timestamp
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/CMakeFiles/BookstoreInventoryApplication.dir/BookstoreInventoryApplication_autogen/mocs_compilation.cpp.obj
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/CMakeFiles/BookstoreInventoryApplication.dir/mainwindow.cpp.obj
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/CMakeFiles/BookstoreInventoryApplication.dir/main.cpp.obj
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/CMakeFiles/BookstoreInventoryApplication_autogen.dir/AutogenUsed.txt
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/CMakeFiles/BookstoreInventoryApplication_autogen.dir/ParseCache.txt
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/CMakeFiles/d/fb05a0c93f2fb433391bf850693276d6814765f888335cceb81109887f54f1d0.d
BookstoreInventoryApplication/boost_1_81_0/boost_1_81_0/boost-build.jam
*.css
*.png
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/CMakeFiles/BookstoreInventoryApplication.dir/Book.cpp.obj
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/CMakeFiles/BookstoreInventoryApplication.dir/BookstoreInventory.cpp.obj
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/CMakeFiles/BookstoreInventoryApplication.dir/fileOperations.cpp.obj
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/CMakeFiles/BookstoreInventoryApplication.dir/includes/md5.cpp.obj
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/CMakeFiles/BookstoreInventoryApplication.dir/menuOptions.cpp.obj
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/CMakeFiles/BookstoreInventoryApplication.dir/User.cpp.obj
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/CMakeFiles/BookstoreInventoryApplication.dir/UserDatabase.cpp.obj
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-MinSizeRel/CMakeFiles/3.24.2/CompilerIdCXX/a.exe
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-MinSizeRel/CMakeFiles/3.24.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-MinSizeRel/CMakeFiles/CMakeOutput.log
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Profile/CMakeFiles/3.24.2/CompilerIdCXX/a.exe
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Profile/CMakeFiles/3.24.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Profile/CMakeFiles/CMakeOutput.log
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Release/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_CXX.bin
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Release/CMakeFiles/3.24.2/CompilerIdCXX/a.exe
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Release/CMakeFiles/3.24.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Release/CMakeFiles/CMakeOutput.log
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Release/CMakeFiles/CMakeTmp/CMakeCache.txt
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Release/CMakeFiles/CMakeTmp/CMakeFiles/TargetDirectories.txt
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Release/CMakeFiles/CMakeTmp/CMakeLists.txt
build-BookstoreInventoryApplication-Desktop_Qt_6_4_2_MinGW_64_bit-Release/CMakeFiles/CMakeTmp/src.cxx
